.aboutUs {
  background-color: #cbd2d3;
  border-radius: 10px;
}

.subscription {
  background: linear-gradient(#5ba7adbd, #5ba7adc5),
    url("../images/pizza-20.jpg");
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subText {
  color: #2a0c70c9;
  font-weight: bold;
}

@media (min-width: 768px) {
  .subInupt {
    width: 50%;
    margin: 0 auto;
  }
}
