.spinner {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background: linear-gradient(#062361de, #061868cb),
    url("../../images/pizza-20.jpg");
}
